<div id="booking-popup" class="booking-popup">
  <div class="booking-popup__overlay"></div>
  
  <div class="booking-popup__wrapper">
    
   
    <div class="booking-popup__content">
      <div class="booking-popup__inner">

        <h2 class="booking-popup__title">Забронируй место!</h2>

        <form id="booking-form" class="booking-popup__form">
          <div class="form__container">
            <div class="form__firststroke">
                <input type="text" placeholder="Имя" class="name">
                <input type="date" placeholder="Дата" class="date">
                <input type="time" placeholder="Время" class="time">
            </div>
            <div class="form__secondstroke">
                <div class="secondstroke_placeholder">Количество гостей
                <input class="number" type="number"  value="2" min="1" max="10"></div>
          </div>
          <div class="thirth__stroke">
            <input type="tel" class="phonenumber" placeholder="Номер телефона">
          </div>
          <div class="fourth__stroke"><textarea class="areaha" placeholder="Ваши пожелания" ></textarea></div>
          <button type="submit" class="booking-popup__btn">Забронировать!</button>
          </div>

        </form>

      </div>
    </div>


    <div class="booking-popup__police">
      <img src="../img/armor.png" alt="Бронежилет" class="booking-popup__vest">
      <img src="../img/helmet.png" alt="Каска" class="booking-popup__helmet">
    </div>

  </div>
</div>